@import '../../variables.scss';
.customCountDown {
    width: 600px;
    height: 120px;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 100px;
    color: $gradientColor;
    border: 1px solid #000;
    font-size: 65px;
    font-weight: 600;
    font-family: 'Source Sans Pro';

    @media only screen and (max-width: 390px) {
        width: 345px;
        font-size: 48px;
        height: 100px;
    }

    @media only screen and (min-width: 3911px) and (max-width: 480px) {
        width: 335px;
        font-size: 48px;
        height: 90px;
    }

    @media only screen and (min-width: 481px) and (max-width: 768px) {
        width: 465px;
        font-size: 56px;
        height: 100px;
    }

    &-renderer {
        p {
            margin: 0;
            font-weight: 600;

            @media only screen and (max-width: 480px) {
                font-size: 48px;
            }

            @media only screen and (max-width: 768px) {
                font-size: 56px;
            }
        }
        &-item {
            display: flex;
            flex-direction: column;
        }

        height: 150px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        &-type {
            font-weight: 400;

            @media only screen and (max-width: 480px) {
                font-size: 12px;
            }

            @media only screen and (max-width: 768px) {
                font-size: 16px;
            }

            font-size: 20px;
        }
    }
}