.aims {
    min-height: 300px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #4B4B4B;

    @media only screen and (max-width: 480px) {
    }

    @media only screen and (max-width: 768px) {
    }

    &-header {
        @media only screen and (max-width: 480px) {
            position: relative !important;
            z-index: -1;
        }

        text-align: center;
    }

    &-cardWrapper{
        max-width: 1440px;
        width: 95%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;

        @media only screen and (max-width: 768px) {
            width: 100%;
            grid-template-columns: auto auto;
        }

    }

    &-card {
        position: relative;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 20px;

        @media only screen and (max-width: 480px) {
                height: 100px;
                font-size: 16px;
        }
        @media only screen and (min-width: 480px) and (max-width: 768px) {
            height: 100px;
            font-size: 24px;
        }


        img{
            height: 100px;
            transform: scale(0.65);
            @media only screen and (max-width: 480px) {
                height: 100px;
                transform: scale(0.5);
            }

            @media only screen and (min-width: 480px) and (max-width: 768px) {
                height: 150px;
                transform: scale(0.55);
            }
        }
    }
}