.aims {
    width: 95%;
    margin: 150px auto;

    &-header {
        margin-bottom: 20px;
        text-align: center;
    }

    &-cardWrapper{
        max-width: 1440px;
        width: 95%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
    }

    &-card {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 22px;
        img{
            transform: scale(0.8);
        }
    }
}