.aims {
    min-height: 80vh;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #4B4B4B;

    @media only screen and (max-width: 480px) {
        margin: 15px auto;
    }

    @media only screen and (max-width: 768px) {
        margin: 15px auto;
    }

    &-header {
        margin-bottom: 20px;
        text-align: center;
    }

    &-cardWrapper{
        max-width: 1440px;
        width: 95%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;

        @media only screen and (max-width: 480px) {
            grid-template-columns: auto auto;
        }

        @media only screen and (max-width: 768px) {
            grid-template-columns: auto auto;
        }

    }

    &-card {
        position: relative;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 20px;

        @media only screen and (max-width: 480px) {
                height: 100px;
                font-size: 16px;
        }
        @media only screen and (min-width: 480px) and (max-width: 768px) {
            height: 100px;
            font-size: 24px;
    }


        img{
            height: 150px;
            transform: scale(0.6);
            @media only screen and (max-width: 480px) {
                height: 100px;
            }

            @media only screen and (min-width: 480px) and (max-width: 768px) {
                height: 150px;
            }
        }
    }
}