@import '../../variables.scss';
.opinionCard {
    overflow: hidden;
    position: relative;
    width: 345px;
    height: 200px;
    margin: 10px auto;
    border-radius: 20px;
    padding: 0 20px;
    background-color: $fifthColor;
    @media only screen and (max-width: 480px) {
      width: 290px;
    }

    @media only screen and (min-width: 481px) and (max-width: 900px) {
        width: 250px;
    }

    @media only screen and (min-width: 900px) and (max-width: 1350px) {
      width: 290px;
    }

    &-text {
        height: 150px;
        color: #fff;
        p {
            font-size: 18px;
            font-family: 'Source Sans Pro', sans-serif;
            margin-top: 10px;
         }
    }

    &-author {
      height: 20px;
      margin-top: 5px;
      width: 100%;
      text-align: right;
      color: #fff;
      font-size: 18px;
      font-family: 'Source Sans Pro', sans-serif;
    }
}