@import '../../variables.scss';

.opinionCard {
    overflow: hidden;
    position: relative;
    width: 345px;
    height: 220px;
    margin: 10px auto;
    border-radius: 20px;
    padding: 0 20px;
    background-color: $fifthColor;
    
    @media only screen and (max-width: 480px) {
      width: 290px;
    }

    @media only screen and (min-width: 481px) and (max-width: 900px) {
        width: 250px;
    }

    @media only screen and (min-width: 900px) and (max-width: 1350px) {
      width: 290px;
    }

    &-text {
        font-family:"Source Sans Pro", serif;  
        margin-top: 18px;
        height: 150px;
        color: #fff;
        p {
            font-size: 18px;
            font-family: 'Source Sans Pro', sans-serif;
            margin-top: 10px;
         }

         textarea {
            padding: 5px;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 16px;
            border: 0;
            border-radius: 10px;
            resize: none;
            height: 150px;
            width: 100%;
            margin: 0px auto;
         }
         
    }

    &-author {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 20px;
      margin-top: 15px;
      width: 100%;
      text-align: right;
      color: #fff;
      font-size: 28px;
      font-weight: 600;
      font-family: 'Source Sans Pro', sans-serif;
      
      input {
        cursor: pointer;
        padding: 10px 10px;
        margin: 0 10px;
        border-radius: 10px;
        height: 30px;
        border: 0;
        width: 40%;
      }
    }
}