.horizontal-card-wrapper {
    padding-right: 5px;
    margin: 30px 0;
    width: 100%;
    height: 190px;
    border-radius: 15px;
    border: 2px solid #eeeded;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media only screen and (max-width: 480px) {
        flex-direction: column;
        align-items: center;
        height: 310px;
    }

    &-image {
        @media only screen and (max-width: 480px) {
           display: none;
        }
        height: 100%;
        max-width: 30%;

    }

    &-body {
        @media only screen and (max-width: 480px) {
            width: 90%;
            margin: 0 auto;
        }
        margin: 10px;
        width: 45%;
        text-align: justify;
        &-header {
            color: #7D7D7D;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 600;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        &-content {
            margin: 5px 0;

            p { 
                color: #4B4B4B;
                font-weight: 600;
                font-size: 24px;
            }
    
            span {
                display: -webkit-box !important;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 14px;
                margin-top: 5px;
            }
        }

        &-date {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 10px;
            p {
                font-size: 18px;
                margin-right: 10px;
                color: #B64689;
            }
            div {
                font-weight: 300;
            }
        }
       
    }


    &-action {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 20%;

        p {
            font-size: 22px;
            color: #7D7D7D;
        }

        @media only screen and (max-width: 480px) {
            width: 100%;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
        }

        &-button {
            padding: 2.5px 15px;
            margin: 10px 0;
            cursor: pointer;
            background-color: #FE7062;
            color: #fff;
            border-radius: 20px;
            
        }
    }

}