@import '../../../variables.scss';

.perfomance-bar {
    width: 90%;
    margin: 150px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    @media only screen and (max-width: 376px) {
        margin-top: 10px;
        width: 95%;
        justify-content: center;
        margin-bottom: 10px;
    }
    &-item {
        margin:10px;
        &-count{
            text-transform: capitalize;
            font-weight: 700;
            color: $font_secondary_color;
            text-align: center;
            margin: 0 auto;
            display: block;
            font-size: 34px;
            @media only screen and (max-width: 376px) {
                font-size: 28px;
            }
        }
        p {
            @media only screen and (max-width: 376px) {
                font-size: 10px;
                text-align: center;
            }
            margin: 0;
            font-family: 'Source Sans Pro', sans-serif;
            text-transform: uppercase;
        }
    }
}