@import '../../../variables.scss';

.perfomance-bar {
    width: 90%;
    margin: 150px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    @media only screen and (max-width: 480px) {
        margin-top: 10px;
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }
    &-item {
        text-align: center;
        width: 250px;
        margin:10px;

        &-count{
            font-weight: 700;
            color: $font_secondary_color;
            text-align: center;
            margin: 0 auto;
            display: block;
            font-size: 50px;

            @media only screen and (max-width: 480px) {
                font-size: 25px;
            }
        }
        p {

            @media only screen and (max-width: 480px) {
                font-size: 9px;
                text-align: center;
            }
            font-weight: 700;
            font-size: 17px;
            color: #4B4B4B;
            margin: 0;
            font-family: 'Source Sans Pro', sans-serif;
        }
    }
}