@import '../../variables';

.header {
    position: relative;
    &-wrapper {
        border-radius: 0  0 30px 30px;
        width: 100%;
        background-color: $seventhColor;
    }

    #radialBlur{
        position: absolute;
        left: -750px;
        top: -250px;
        width: 1350px;
        height: 1350px;
        background: radial-gradient(102.2% 102.2% at 41.57% 49.96%, #50B2DD 0%, rgba(80, 178, 221, 0) 42.71%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
        filter: blur(22px);
    }

    font-family: 'Source Sans Pro', sans-serif;
    max-width: 1440px;
    width: 95%;
    margin: 0px auto;

    @media only screen and (max-width: 480px) {
        height: 700px;
        width: 100%;
    }

    &-content {
        height: 500px;
        margin-top: 30px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @media only screen and (max-width: 375px) {
            margin: 20px auto;
            flex-direction: column-reverse;
            height: 450px;
            position: relative !important;
            z-index: -1;
        }

        @media only screen and (min-width: 376px) and (max-width: 480px) {
            margin: 60px auto;
            margin-bottom: 30px;
            height: 450px;
            flex-direction: column-reverse;
            position: relative !important;
            z-index: -1;
        }

        @media only screen and (min-width: 481px) and (max-width: 820px) {
            margin-top: 10px;
            margin-bottom: 10px;
        }

    &-left {
            width: 50%;

            @media only screen and (max-width: 480px) {
                width: 100%;
                margin-top: 10px;
            }

            &-arrow {
                img {
                    width: 90px;
                    animation-name: example;
                    animation-duration: 4s;
                    animation-iteration-count: infinite;
                    display: inline-block;
                    transform: scale(0.6);
                }
                width: 340px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;


            }
        }
        &-right {

            @media only screen and (max-width: 480px) {
                width: 100%;
            }

            width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }

}

#header-content-left-arrow-button {
    @media only screen and (max-width: 480px) {
        width: 140px !important;
    }

    @media only screen and (min-width: 481px) and (max-width: 769px) {
        margin-left: 50px !important;
    }
}

@keyframes example{
    0%  {transform: translateX(0px);}
    66%  {transform: translateX(50px);}
    100%  {transform: translateX(0);}
  }
