@import '../../variables.scss';
.imagetextSection {
    width: 95%;
    max-width: 1440px;
    margin: 150px auto;

    @media only screen and (max-width: 480px) {
        margin: 15px auto;
    }

    &-header {
        text-align: center;
    }

    &-reverseWrapper {
        flex-direction: row-reverse !important;

        @media only screen and (max-width: 480px) {
            flex-direction: column-reverse !important;
            align-items: center;
        }

        @media only screen and (min-width: 481px) and (max-width: 768px) {
            flex-direction: column-reverse !important;
            align-items: center;
            justify-content: center;
        }
    }

    &-button  {
        margin-top: 20px;

        @media only screen and (max-width: 480px) {
            display: none;
        }

        @media only screen and (min-width: 481px) and (max-width: 768px) {
            display: none;
        }
    }
    &-wrapper {
        padding: 35px 5px;
        background-color: $seventhColor;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: end;

        @media only screen and (max-width: 480px) {
            flex-direction: column-reverse;
            align-items: center;
        }

        @media only screen and (min-width: 481px) and (max-width: 768px) {
            flex-direction: column-reverse;
            align-items: center;
        }

        @media only screen and (min-width: 769px) and (max-width: 1024px) {
            align-items: center;

        }
        &-text {

            @media only screen and (max-width: 480px) {
                width: 100%;
            }

            @media only screen and (min-width: 481px) and (max-width: 768px) {
                width: 100%;
            }

            width: 40%;
            font-family: 'Source Sans Pro', sans-serif;
        }

        &-image {

            @media only screen and (max-width: 480px) {
                width: 70%;
            }
            max-width: 700px;
            overflow: hidden;
            width: 40%;
            object-fit: cover;
            img {
                width: 80%;
            }
        }
    }
}