@import '../../variables.scss';

.carouselSection {
    width: 95%;
    max-width: 1440px;
    margin: 0 auto;

    @media only screen and (max-width: 480px) {
        width: 80%;
    }
    .slick-slide>div {padding: 10px 10px;}

    &-title {
        text-align: center;
        @media only screen and (min-width: 900px) {
        }
    }

    &-slide {
        margin: 15px 10px;
        height: 430px;
        border-radius: 20px;
        cursor: pointer;
        position: relative;
        transition: ease-in-out 0.3s;

        @media only screen and (max-width: 900px) {
            height: 450px;
        }

        &:hover {
            transform: scale(1.02);
        }

        img {
            text-align: center;
            object-fit: cover;
            height: 160px;
            border-radius: 10px 10px 0 0;
            margin: 0 auto;
            width: 90%;
        }

        &-text {
            height: 260px;
            margin: 0 auto;
            width: 90%;
            color: #fff;
            border-radius: 0 0 20px 20px;
            background-color: #9c5b89;
            padding: 5px 10px;


            @media only screen and (max-width: 900px) {
                height: 300px;
            }
            
            &-header {
                text-align: left;
                padding: 0 15px;
                margin-top: 20px;
                font-size: 20px;
                text-transform: uppercase;
                font-weight: 600 !important;

                @media only screen and  (max-width: 480px) {
                    font-size: 16px;
                }

                @media only screen and (min-width: 481px) and (max-width: 900px) {
                    font-size: 18px;
                }
            }

            &-body {
                padding: 0 15px;
                line-height: 22px;
                margin-top: 20px;
                font-size: 17px;
                font-weight: 400 !important;
                
                @media only screen and  (max-width: 480px) {
                    font-size: 14px;
                    line-height: 16px;
                }  

                @media only screen and (min-width: 481px) and (max-width: 900px) {
                    font-size: 14px;
                }
                
            }

            @media only screen and (max-width: 480px) {
                font-size:20px;
            }
        }
    }
    .slick-prev, .slick-next {
        background-color: $primaryColorRGB !important;
        color: rgba($primaryColorRGB, 0.5) !important;
    }

    &-modal {
        display: flex;
        flex-direction: row;

        @media only screen and (max-width: 480px) {
            flex-direction: column;
        }

        img {
            border-radius: 10px;
            height: 500px;
            width: 50%;
            object-fit: cover;

            @media only screen and (max-width: 480px) {
                height: 200px;
                width: 100%;
            }
        }
        &-content {
            position: relative;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
          

            @media only screen and (max-width: 480px) {
                padding: 8px;
            }

            &-header {
                font-size: 24px;
                text-align: left;
                color: $font_header_color;
                font-weight: 600;
                text-transform: uppercase;
                margin-bottom: 30px;

                @media only screen and (max-width: 480px) {
                  font-size: 22px;
                  margin-top: 10px;
                   margin-bottom: 20px;
                }
            }

            &-text {
                height: 290px;
                font-size: 16px;
                word-wrap: break-word;
                 @media only screen and (max-width: 480px) {
                    height: 220px;
                }
            }

            &-button {
                position: absolute;
                bottom: 10px;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

}