@import '../../variables.scss';

.carouselSection {
    width: 85%;
    max-width: 1440px;
    margin: 0 auto;

    @media only screen and (max-width: 480px) {
        width: 80%;
    }
    .slick-slide>div {padding: 10px 10px;}

    &-title {
        text-align: center;
    }

    &-slide {
        position: relative;
        img {
            margin: 0 auto;
            width: 100%;
        }

        &-text {

            @media only screen and (max-width: 480px) {
                font-size:14px;
            }

            margin: 0 auto;
            width: 80%;
            position: absolute;
            bottom: 0vh;
            text-transform: capitalize;
            color: #fff;
            display: table; /* keep the background color wrapped tight */
            margin: 0px auto 0px auto; /* keep the table centered */
            padding:5px;
            font-size:40px;
            background-color: rgba($primaryColorRGB, 0.5);
            border-radius: 8px;

        }
    }
    .slick-prev, .slick-next {
        background-color: $primaryColorRGB !important;
        color: rgba($primaryColorRGB, 0.5) !important;
    }

}