.details-body{
    min-height: 100vh;
}

.details-wrapper {
    padding-top: 90px;
    min-height: 80vh;
    max-width: 1440px;
    width: 90%;
    margin: 10px auto;

    &-header {
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-width: 1440px;
        margin: 10px auto;

        &-sum {
            @media only screen and (max-width: 821px) {
                width: 98%;
                margin-top: 20px;
            }
            width: 50%;

            &-header {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-bottom: 15px;
                font-size: 18px;
                p {
                    text-transform: uppercase;
                    color: #B64689;
                }
            }

            &-body {
                margin: 20px 0;
                display: flex;
                flex-direction: column;
                color: #B64689;
                font-size: 32px;

                @media only screen and (max-width: 480px) {
                    width: 98%;
                }

                &-dates {
                    color: #B64689;
                    margin: 20px 0;
                    font-size: 18px;

                    .Dropdown-control {
                        font-size: 16px;
                        margin: 5px 0px;
                        border-radius: 10px;
                    }
        
                    .Dropdown-menu {
                        border-radius: 10px;
                        font-size: 14px;
                    }

                    .Dropdown-option {
                        font-size: 12px;
                    }
                }

                &-footer {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    p {
                        color: #7D7D7D;
                        font-size: 20px;
                        text-transform: lowercase;
                    }

                    .courseCard-footer-button{
                        width: 250px;
                        height: 30px;
                        margin-top: 15px;

                    }
                }
            }
        }

    }

    &-description {
        &-wrapper {
            margin: 0 auto;
            max-width: 1440px;
            width: 90%;
            display: flex; 
            align-items: flex-start; 
            justify-content: space-evenly;

            @media only screen and (max-width: 821px) {
                flex-direction: column-reverse;
                align-items: flex-start; 
                justify-content: space-between;
            }

            p {
                margin: 0 40px;
                font-size: 22px;

                @media only screen and (max-width: 821px) {
                    margin: 0 5px;
                }
            }

            img {
                border-radius: 20px;
                max-width: 35%;
                @media only screen and (max-width: 821px) {
                    max-width: 98%;
                    margin-bottom: 25px;
                }
            }

        }
        &-header {
            margin: 25px auto !important;
            margin-top: 80px !important;
            text-align: center;
            font-size: 36px;
            text-transform: uppercase;
            color: #B64689;

        }

        &-body {
            margin: 0px auto;
        }
    }

    &-points {
        padding: 10px;
        &-wrapper {
         width: 90%;   
         margin: 10px auto;
         border-radius: 20px;
         min-height: 20vh;
         border: 2px solid #B64689;

         &-item {
            text-align: center;
            margin: 20px 0;
            &-iterator {
                text-align: center;
                font-size: 34px;
                font-weight: 700;
                color: #B64689;
                font-family: 'Spartan';
            }

            &-header {
                font-weight: 400;
                font-size: 28px;
                color: #FE7062;

            }

            &-body {
                margin: 5px auto;
                width: 80%;


            }
         }
        }
    }
}