@import '../../variables.scss';
.courseCard {
    margin: 0 auto;
    width: 350px;
    height: 700px;
    border: 3px solid #eeeded;
    border-radius: 40px;
    margin-top: 20px;

    @media screen and (max-resolution:  142dpi)  {
        height: 450px;
        width: 290px;
    }
    
    img {
        @media screen and (max-resolution: 142dpi)  {
            min-height: 19%;
            max-height: 19%;
        }
        object-fit: cover;
        min-height: 30%;
        max-height: 30%;
        width: 100%;
        border-radius: 37px 37px 0 0 ;

    }

    &-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-transform: uppercase;
        width: 90%;
        margin: 10px auto;
        color: #B64689;
        @media screen and (max-resolution: 142dpi)  {
            font-size: 12px;
            margin: 2px auto;
        }
      
    }

    &-separator {
        width: 99%;
        margin: 20px 0;
        @media screen and (max-resolution:  142dpi)  {
            margin: 10px 0;
        }
        height: 2px;
        background-color: #eeeded;
    }

    &-body {
        width: 90%;
        margin: 10px auto;
        height: 275px;
        position: relative;
        overflow: hidden;

        @media screen and (max-resolution:  142dpi)  {
            height: 220px;
            margin: 5px auto;
        }

        p { 
            color: #9c5b89;
            font-weight: 700;
            font-size: 19px;
            width: 90%;

            @media screen and (max-resolution:  142dpi)  {
                font-size: 15px;
            }
        }

        &-item {
            margin: 10px 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;

            @media screen and (max-resolution:  142dpi)  {
                margin: 5px 0;
            }

            &-round {
                margin-top: 2.5px;
                border-radius: 5px;
                width: 10px !important;
                height: 10px;
                background-color: #9c5b89;

                @media screen and (max-resolution:  142dpi)  {
                    border-radius: 3px;
                    width: 6px !important;
                    height: 6px;
                    margin-top: 5px;
                }
            } 

            &-text{
                    padding-left: 8px;
                    font-family: 'Source Sans Pro', sans-serif;
                    width: 95% !important;
                    color: #000 !important;
                    font-size: 16px !important;
                    line-height: 16px !important;
                    font-weight: normal !important;

                    @media screen and (max-resolution:  142dpi)  {
                        font-size: 12px !important;
                    }
            }
            
        }
    }

    &-dates {

        width: 90%;
        margin: 15px auto;
        text-transform: uppercase;
        color: #B64689;
        font-size: 12px;
        
        @media screen and (max-resolution:  142dpi)  {
            margin: 0px auto;
        }

        &-dropdown {
            @media screen and (max-resolution:  142dpi)  {
              transform: scale(0.8);
            }
            .Dropdown-control {
                margin: 5px 0px;
                border-radius: 10px;
            }

            .Dropdown-menu {
                border-radius: 10px;
            }
        }
    }

    &-footer {
        width: 90%;
        margin: 20px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-resolution:  142dpi)  {
            margin: 5px auto;
            transform: scale(0.8);
          }

        p {
            font-size: 22px;
            color: #7D7D7D;
        }

        &-button {
            cursor: pointer;
            width: 180px;
            height: 30px;
            line-height: 30px;
            font-size: 15px;
            text-align: center;
            background-color: #9c5b89;
            border-radius: 20px;
            color: #fff;
            transition: 0.3s ease-in-out;

            &:hover {
                background-color: #6149F5;
                transform: scale(1.02);
            }

            &:focus {
                background-color: #A0A0A0;
            }

            &:active {
                background-color: #A0A0A0;
            }
        }
    }
}

.button-disabled{
    background-color: #A0A0A0 !important;
}