@import '../../variables.scss';
.courseCard {
    margin: 0 auto;
    width: 560px;
    height: 560px;
    border: 3px solid #eeeded;
    border-radius: 30px;
    margin-top: 20px;



    @media only screen and (min-width:601px) and (max-width: 1150px) {
        width: 450px;
        height: 490px;
    }

    @media only screen and (min-width:481px) and (max-width: 600px) {
        width: 460px;
        height: 480px;
    }

    @media only screen and (max-width: 480px) {
      width: 350px;
      height: 625px;
    }

    
    img {

        object-fit: cover;
        height: 235px;
        width: 100%;
        border-radius: 28px 28px 0 0 ;

        @media only screen and (min-width:601px) and (max-width: 1150px) {
            height: 180px;
        }
    

        @media only screen and (min-width:481px) and (max-width: 600px) {
          height: 155px;
        }

    }

    &-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-transform: uppercase;
        width: 95%;
        margin: 5px auto;
        color: #B64689;
        @media only screen and (max-width: 480px) {
            margin: 10px auto;
        }
     
    }

    &-separator {
        width: 99%;
        margin: 15px 0;
        height: 2px;
        background-color: #eeeded;
    }

    &-body {
        width: 95%;
        margin: 5px auto;
        height: 200px;
        position: relative;
        overflow: hidden;

        @media only screen and (max-width: 480px) {
            height: 260px;
        }

        @media only screen and (min-width:601px) and (max-width: 1150px) {
            height: 192px;
        }

        p { 
            color: #9c5b89;
            font-weight: 700;
            font-size: 19px;
            width: 90%;

            @media only screen and (min-width:601px) and (max-width: 1150px) {
                font-size: 17px;
            }

            @media only screen and (min-width:481px) and (max-width: 600px) {
                font-size: 17px;
            }

        }

        &-item {
            margin: 10px 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;

            &-round {
                margin-top: 2.5px;
                border-radius: 5px;
                width: 10px !important;
                height: 10px;
                background-color: #9c5b89;

            } 

            &-text{
                    padding-left: 8px;
                    font-family: 'Source Sans Pro', sans-serif;
                    width: 95% !important;
                    color: #000 !important;
                    font-size: 16px !important;
                    line-height: 16px !important;
                    font-weight: normal !important;
                    
                    @media only screen and (min-width:601px) and (max-width: 1150px) {
                        font-size: 14px !important;
                    }
        
                    
                    @media screen and (max-resolution:  142dpi)  {
                        font-size: 12px !important;
                    }
            }
            
        }
    }

    &-dates {

        width: 95%;
        margin: 5px auto;
        text-transform: uppercase;
        color: #B64689;
        font-size: 12px;
        
        &-dropdown {

            .Dropdown-control {
                margin: 5px 0px;
                border-radius: 10px;
            }

            .Dropdown-menu {
                border-radius: 10px;
            }
        }
    }

    &-footer {
        width: 90%;
        margin: 10px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            font-size: 22px;
            color: #7D7D7D;
        }

        &-button {
            cursor: pointer;
            width: 180px;
            height: 30px;
            line-height: 30px;
            font-size: 15px;
            text-align: center;
            background-color: #9c5b89;
            border-radius: 20px;
            color: #fff;
            transition: 0.3s ease-in-out;

            &:hover {
                background-color: #6149F5;
                transform: scale(1.02);
            }

            &:focus {
                background-color: #A0A0A0;
            }

            &:active {
                background-color: #A0A0A0;
            }
        }
    }
}

.button-disabled{
    background-color: #A0A0A0 !important;
}