@import './variables.scss';

body {

  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;

  .logo {
    img {
      width: 150px;
      height: 45px;
    }
  }

  .blueHeader {
    margin: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 75px;
    color: $font_secondary_color;
    text-transform: uppercase;
  }

  .blueSecondaryHeader {
    margin: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: $font_secondary_color;
    text-transform: uppercase;
  }

  .blackSecondaryHeader {
    margin: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    font-size: 34px;
    color: $font_primary_color;
    text-transform: uppercase;
  }

  .blueMainText {
    font-weight: 400;
    font-size: 26px;
    color: $font_secondary_color;
    text-transform: uppercase;

  }
  .blackMainText {
    margin: 20px;
    font-weight: 400;
    font-size: 22px;
    color: $font_primary_color;

  }

  .blueSmallText {
    font-weight: 400;
    font-size: 18px;
    color: $font_secondary_color;
  }
}
