$primaryColor: #E3746D;
$primaryColorRGB:rgb(227, 116, 109);
$secondary_pink: #FE7062;
$gradientColor: #2D3142;
$rose: #F1DBFF;

$fourthColor: #BDD0FB;
$fifthColor:  #9c5b89;
$sixthColor: #e3e6f7;
$seventhColor: #fae0df4d;

// Font colors
$font_primary_color: #E3746D;
$font_secondary_color: #BD84A4;

$font_header_color: #29282a;

$orangeColor: #E3746D;