$primaryColor: #50b2dd;
$primaryColorRGB:rgb(80, 178, 221);
$secondary_pink: #FE7062;
$gradientColor: #6149F5;
$rose: #F1DBFF;


// Font colors
$font_primary_color: #000;
$font_secondary_color: #247EB0;