@import '../../../variables.scss';
.navbar {
    height: 10vh;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: 480px) {
        height: 40px;
        width: 100%;
    }


    &-logo {
        display: flex;
        flex-direction: row;
        align-items: center;
            img {

                @media only screen and (max-width: 480px) {
                    width: 50px;
                }

                @media only screen and (max-width: 768px) {
                    width: 60px;
                }
            }
    }


    &-menu {
        height: 100px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        align-items: center;
        min-width: 300px;
        max-width: 480px;


        @media only screen and (max-width: 480px) {
            font-size: 16px;
            width: 260px;
            text-align: center;
        }
        &-item{

            @media only screen and (max-width: 480px) {
                font-size: 18px;
                line-height: 18px;
            }
            width: 150px;
            position: relative;
            cursor: pointer;
            margin: 0 7px;
            font-size: 26px;
            line-height: 32px;
            &::before {
                position: absolute;
                content: '';
                display: block;
                z-index: -1;
                background: $primaryColor;
                width: 0;
                height: 3px;
                bottom: -5px;
                border-radius: 5px;
                left: 50%;
                transition: 0.4s cubic-bezier(0.25, 0.1, 0, 2.02);
            }

            &:hover::before {
                width: calc(100% + 5px);
                left: calc( 5px/ -2);
            }
        }
    }
}