@import '../../../variables.scss';
.navbar {
    height: 100px;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: 480px) {
        height: 40px;
        width: 100%;
    }


    &-logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        transform: scale(0.9);
            img {
                width: 100px;

                @media only screen and (max-width: 768px) {
                    width: 60px;
                }
                @media only screen and (min-width: 769px) and (max-width: 1000px) {
                    width: 70px;
                }
            }
    }

    &-burger {
        position: absolute;
        right: 20px;
        top: 10px;
        z-index: 300;
        transition: 3s ease-in-out;
        width: 20px;
        height: 20px;
        @media only screen and (min-width: 480px) {
            display: none;
        }
    }


    &-menu {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;

        @media only screen and (max-width: 480px) {
            display: none;
        }

        &-open {
            @media only screen and (max-width: 480px) {
                position: absolute;
                z-index: 200;
                top: 0;
                left: 0;
                width: 100%;
                height: 100vh;
                background-color: #fff;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }

        &-item {
            display: flex;
            align-items: center;
            height: 50px;
            cursor: pointer;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 24px;
            margin: 10px;

            img {
                width: 20px;
                height: 20px;
            }
        }
    }

    &-active {
        border-bottom: 3px solid rgb(149, 69, 128);
    }
}

#navbar-action {
    width: 150px;
}

.navbarCart {
    height: 50px;

    p {
        font-size: 16px;
        margin-top: 5px;
        margin-left: 5px;
    }
}